.hr-line {
    border-top: 1px solid grey;
}

.table-line {
    border-top: 1px dotted grey;
}

.card {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.col-md-1>.vl {
    border-left: 1px solid black;
    height: 100%;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.buttonAlignment {
    margin: 10px auto 0 auto;
}

#addBtn {
    margin-right: 15px;
}

#updateBtn {
    margin-left: 15px;
}
#userForm{
    padding-top: 30px;
}
.row{
    margin-top: 10px;
}